# Ignore venv
api/.venv_api
training/.venv_train

#ignore data
training/data/*

# Ignore test
test.py
*.pyc
*.swp

# ignore logs
training/logs

# Ignore models
training/models/resnet18_new.pth

# Ignore data
api/samples

# Ignore notebooks
*.ipynb

# Ignore ./api/config.yaml
# ./api/config.yaml


# Except loss and accuracy figure
!test.py