-f https://download.pytorch.org/whl/torch_stable.html
albumentations
flask
gunicorn
ipykernel
matplotlib
jupyter
split-folders
torch==1.11.0+cpu
torchvision==0.12.0+cpu
pandas
pyyaml
requests
scikit-learn